*{
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    margin:0;
    padding:0;
    
    background-color: #eef1f3;
}
#contact{
    text-align: center;
    font-weight: 800;
    color:#000000;
    font-family: open sans,sans-serif;
    line-height:1.2;
    font-size: 30px;
}
#career{
    font-size: 42px;
    font-weight: 700;
    color: #091354;
    margin-bottom: 20px;
    text-align:center;
    line-height: 1.2;
}

.head {
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
    color: #000000;
    margin-bottom: 1rem;
    margin-top: 0;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 400;
    width: 1140;
    margin: auto;
}

header{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align:center;
}

   
input{
    border:1px solid black;
    height:2rem;
    width:25rem;
    padding: 4px 16px;
    font-size: 16px;
    background-color: #f8f8f8;
    border-radius: 5px;
    width: 100%;
    font-family: Montserrat,sans-serif;
}

input:focus {
    border:1px solid #80bdff;
    outline: 1px solid #80bdff;
}

#once{
    font-size: 16px;
    color: #666;
}
#bold{
    color:red;
    text-decoration: underline;
}
input::placeholder{

    padding-left:5px;
    
    

}
p{
    text-align:center;
}
button{
   
   
   
    

    display: inline-block;
    padding: 10px 20px;
    background-color: #40c957;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    width:100%;
    font-family: "open sans", sans serif;
    cursor:pointer;
    font-size: 1.5rem;
    display:inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border:1px solid transparent;
    margin-top: 15px;
    
}
    .summary{
        font-size: 14px;
        color:#6c757d;

    }
    li
    {
        display:list-item;
        text-align: -ewbkit-match-parent;
list-style: none;
unicode-bidi: isolate;

    }

img{
    display:block;
    width:100%;
    padding:0 100px 0 100px

}
#paytype{
    box-sizing: border-box;
    border:0px transparent;
    justify-content: center;
    padding:0 0 0 350px;
    width:70%;
    
    vertical-align: middle;
    border-style: none;
    margin-top: 1rem;
    height:40px;
    

}



.formbox{
border:3px solid;
box-sizing:border-box;
padding:30px;
margin:0px auto 70px;
text-align: left;
display: block;
font-weight: 300;
width: 980px;
background-color: #FFFFFF;
border: 6px solid #39bfa3;
line-height: 1.5;
letter-spacing: normal;
word-spacing: normal;

}


    .item1 {
        display: flex;
        justify-content: space-between ;
        align-items: center;
        padding: 20px;
        margin-bottom: 20px;
    }

    /* Style for the h2 elements */
    .item1 h2 {
        font-size: 18px;
        margin: 0;
        text-align: left;
    }

    /* Style for the p tag */
    .item1 p {
        font-size: 14px;
        margin: 0;
    }

    /* Style for the price (i) tag */
    .item1 i {
        font-style: italic;
        font-weight: bold;
    }

   